 header .logo {
    z-index: 600;
    margin: 0 auto;
    text-align: center;
    /* vertical-align: middle; */
    width:70px;
    height:70px;
    float: left;
}
*{ /*전체 영역 공백 없애줌*/
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;  /*a 태그에 텍스트 밑줄 없애줌*/
  color:black;
}

#main_menu{
  background: white;
  text-align: center;
}

#main_menu>ul>li{
  float: left; /*왼쪽부터 가로 정렬*/
  width: 50%;  /*li 항목 n개, n등분할지에 따라 100/n=width%*/
  height: 100%;  /*float 해제를 위한 세로 사이즈 지정*/
  line-height: 50px;  /*텍스트 중앙 정렬(위/아래)*/
  font-weight: bold;
  list-style: none;
  /* text-align: center; */
}
ul{
  width: 500px;
  margin: 0 auto;
  /*브라우저 화면에 맞게 가운데 정렬*/
  overflow: hidden;
}


#main_menu ul li a{
  border-color: red;
}
#main_menu ul li a:hover{ /* 마우스 올리면 글씨 색 변경 */
  text-decoration: underline;
}

#sub_menu{   /*마우스가 올라가 있지 않으면 감춤*/
  width:130px;
  display: none;
  position: absolute;
  font-size: 16px;
  background: white;
  border: 1px dotted;
  margin-left: 60px;
  text-align: center;

}

/*마우스 올리면 서브 메뉴 노출*/
#main_menu>ul>li:hover #sub_menu{
  display: block;
  z-index: 600;
}

body{
  background-color: rgb(247,229,205);
  font:'맑은 고딕';
  font-size: 15px;
  /* text-align: center; */
}

#main_text{
  display: block;
  /* border: 3px dotted red; */
  text-align: center;
  margin: 15px;
}

#img_alchol{
  /* display: inline-block; */
  /* border: 5px dotted green; */
  margin-top: 10px;

}

#alcohol_describe{

  word-wrap: break-word;
  top:50px;
}



/* Footer */
.footer {
  background: white;
  position: absolute;
  bottom: 0;
  width:100%;
  height: 2.5rem;
}
