
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;   /*float 프로프티를 사용해서 li 왼쪽 정렬함*/
}
li a {
    display: block;
    color: black;  / /
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: red;   /* 마우스 갖다 대면 메뉴 바탕 색 바뀜*/
}
.active {
    background-color: #4CAF50;
}
